<p>
  Fill Transaction Information !!!
</p>
<br/>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Loan Amount" value="">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Property Type" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Area Square Feet" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-select placeholder="Property Type">
          <mat-option *ngFor="let item of types" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Expected Date of Loan">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
<br/>
<button mat-flat-button color="primary" routerLink = "/summary">Loan Estimate</button><br/>

